<ion-content class="swiper-no-swiping">

  <div class="container top" [hidden]="keyboard.isVisible">
    <img src="/assets/img/logo.png">

    <ion-segment (ionChange)="segmentChanged($event)" value="login">
      <ion-segment-button value="login">
        <ion-label>Login</ion-label>
      </ion-segment-button>
      <ion-segment-button value="register">
        <ion-label>Cadastro</ion-label>
      </ion-segment-button>
    </ion-segment>

  </div>
  <ion-slides >
    <ion-slide>
      <div class="slide-inner ion-padding">
        <span>Login</span>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="email" placeholder="E-mail" [(ngModel)]="userLogin.email"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="password" placeholder="Senha" [(ngModel)]="userLogin.password"></ion-input>
        </ion-item>

        <ion-button class="ion-margin-top" (click)="login()" color="light" expand="block" shape="round">
          Entrar
        </ion-button>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide-inner ion-padding">
        <span> </span>

        <ion-item class="ion-margin-top" lines="none">
          <ion-input type="text" placeholder="Nome" [(ngModel)]="userRegister.name"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
            <ion-input type="email" placeholder="E-mail" [(ngModel)]="userRegister.email"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
            <ion-input type="text" placeholder="Endereço" [(ngModel)]="userRegister.endereco"></ion-input>
        </ion-item>

        <ion-item class="ion-margin-top" lines="none">
            <ion-input type="password" placeholder="Senha" [(ngModel)]="userRegister.password"></ion-input>
        </ion-item>

        <!-- <ion-item class="ion-margin-top" lines="none">
          <ion-checkbox [(ngModel)]="userRegister.checkbox" ></ion-checkbox> Você será um entregador?
      </ion-item> -->

      <ion-item class="ion-margin-top" lines="none">
            <ion-checkbox color="secondary" ></ion-checkbox>
            <ion-label> Será entregador?</ion-label>
          </ion-item>

        <ion-button class="ion-margin-top" (click)="register()" color="light" expand="block" shape="round">
          Cadastrar
        </ion-button>
      </div>
    </ion-slide>

  </ion-slides>

  <div class="ocean">
    <div class="waves" [ngStyle]="{'background-position-x': wavesPosition + 'px'}"></div>
    
    <div class="container bottom ion-text-center" [hidden]="keyboard.isVisible">
      <span> <p></p>Faça seu Pedido de Forma Mitológica!!</span>
    </div>
  </div>
</ion-content>