
<ion-content class="background-image" padding>
<ion-header>  
    <ion-title>Entregas Realizadas</ion-title>
</ion-header>

<br><br>


<ion-card color="light">
  <ion-card-header>
    <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    <ion-card-title>Nome do cliente</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Descrição......................
  </ion-card-content>
</ion-card>

<ion-card class="card">
  <ion-card-header>
    <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    <ion-card-title>Nome do cliente</ion-card-title>
  </ion-card-header>

  <ion-card-content class="corletra">
    Descrição......................
  </ion-card-content>
</ion-card>

<ion-card class="card2">
  <ion-card-header>
    <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    <ion-card-title>Nome do cliente</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Descrição......................
  </ion-card-content>
</ion-card>





<br><br>

<ion-button routerLink="/home" size="large" color="danger" shape="round" class="botao">Voltar</ion-button>



</ion-content>