
<ion-content class="background-image" padding>
<ion-header>  
    <ion-title>Entrega em Andamento</ion-title>
</ion-header>

<br><br><br><br>


<div>
<ion-card class="card" *ngFor="let item of delivery" >
  <ion-card-header>
    <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    <ion-card-title>Descrição: {{item.Desc}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Origem: {{item.Ori}}
  </ion-card-content>
  <ion-card-content>
    Destino: {{item.Dest}}
  </ion-card-content>
</ion-card>
</div>

<br><br><br>

<div class=mapa>

 </div>


<br><br>

<ion-button routerLink="/home" size="large" color="secondary" shape="round" class="botao">Voltar</ion-button>

</ion-content>