
<ion-content class="background-image" padding>
<ion-header>  
    <ion-title>Entrega em Andamento</ion-title>
</ion-header>

<br><br><br><br>


<div>
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>Nome do cliente</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="corletra">
      Descrição......................
    </ion-card-content>
  </ion-card>
</div>

<br><br><br>

<div class=mapa>

 </div>


<br><br>

<ion-button routerLink="/home" size="large" color="secondary" shape="round" class="botao">Voltar</ion-button>

</ion-content>