
<ion-content class="background-image" padding>
<ion-header>  
    <ion-title>Entrega em Andamento</ion-title>
</ion-header>

<br><br><br><br>


<div *ngFor="let item of allservicos">
  <ion-card class="card"  *ngIf="item.idAtual == item.idEntre" >
    <ion-card-header>
      <ion-card-title>Decrição: {{item.Desc}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Origem: {{item.Ori}}
    </ion-card-content>
    <ion-card-content>
      Destino: {{item.Dest}}
    </ion-card-content>
    <ion-button (click)="deleteServico(item, 'EntregadorCliente')" size="large" color="danger" shape="round" class="botao">Feito!</ion-button>
  </ion-card>
</div>

<br>

<div class=mapa style="margin: 0 auto; width:350px">

</div>
<br>

<ion-button routerLink="/home" size="large" color="secondary" shape="round" class="botao">Voltar</ion-button>

</ion-content>