
<ion-content class="background-image" padding>
  <ion-header>
  <ion-title text-center>ENTREGA</ion-title>
</ion-header>
  <br><br>

<ion-item>
  <ion-label position="floating">Origem</ion-label>
  <ion-input [(ngModel)]="entregaData.origem" ></ion-input>
</ion-item>
<br>
<ion-item>
  <ion-label position="floating">Destino</ion-label>
   <ion-input [(ngModel)]="entregaData.destino" ></ion-input>
</ion-item>
<br>
<ion-item>
  <ion-label position="floating">Descrição</ion-label>
  <ion-input [(ngModel)]="entregaData.descricao" ></ion-input>
</ion-item>

<br>


<ion-button (click)="createEntrega()" size="large" color="tertiary" class="botao" shape="round">Enviar</ion-button>

<ion-button routerLink="/home" size="large" color="secondary" shape="round">Voltar</ion-button>

<br><br><br><br>

<div>

</div>

</ion-content>