.background-image{
    --background: url(../../../assets/img/blue.jpg);
}
div{
			width:350px;
			height:300px;
			background: url(../../../assets/img/maps.jpg);
		}
.botao{
float:right
}
ion-item{
	width:100%;
	height:55px;

}
ion-label{
	margin-top: -20px;

}
ion-title{
	margin-top: 10px;
	
}
